<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>The Last of Us II - Dantas Store</title>
</head>

<body>
    <!--Diretiva que define os trechos de código nos outros arquivos-->
    {% block content %} 
    {% endblock %}
<h6>By: Felipe Dantas</h6>
</body>

</html>