{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="card">
        <div class="topCard">
            <h2 class="title">Digital Deluxe Edition</h2>
            <span class="secondText">R$249,50</span>
        </div>
        <div class="mediaCard"></div>
        <div class="bottomCard">
            <p class="bottomText">Cinco anos depois da jornada perigosa pelos Estados Unidos pós-pandêmicos, Ellie e
                Joel se estabelecem em Jackson, Wyoming.</p>
            <div class="actionsCard">
                <button class="actions">Curtir</button>
                <a href="400.html"> <button class="actions">Adicionar ao Carrinho</button> </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}